.selector-container {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.content-grid-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px; /* Focus outline için */
}

.cursor-pointer {
    cursor: pointer;
}

.upload-card {
    border-style: dashed !important;
    transition: all 0.2s;
    &:hover {
        background-color: #e9ecef !important;
        border-color: #0d6efd !important;
    }
}

.file-card {
    transition: all 0.2s;
    border: 2px solid transparent;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
}

/* Seçili Kart Stili */
.selected-card {
    border-color: #198754 !important; /* Yeşil Çerçeve */
    background-color: #f8fffb;
}

.selected-overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(25, 135, 84, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.play-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    width: 100%; height: 100%;
}

.tiny-text {
    font-size: 0.7rem;
}