


.profile-authentication-area {
    hr {
        margin: 0;
        opacity: 1;
        border-color: var(--borderColor);
    }
}

.login-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}

.login-form {
    h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    select {
        height: 45px;
        width: 100%;
        cursor: pointer;
        line-height: 45px;
        padding: 0 0 0 10px;
        background: #f8f8f8;
        display: inline-block;
        color: var(--blackColor);
        transition: var(--transition);
        border-color: var(--borderColor);
        font: {
            size: var(--fontSize);
            weight: 500;
        };
        &:hover {
            border-color: var(--primaryColor);
            background-color: transparent;
        }
    }
    form {
        .form-group {
            margin-bottom: 25px;

            label {
                display: block;
                margin-bottom: 10px;
                color: var(--blackColor);

                font: {
                    size: 15px;
                    weight: 500;
                } ;
            }

            .form-control {
                height: 52px;
                box-shadow: unset;
                padding-left: 17px;
                border-radius: 5px;
                color: var(--blackColor);
                font-size: var(--fontSize);
                border: 1px solid #f7f7f7;
                background-color: #f7f7f7;
                transition: var(--transition);

                &::placeholder {
                    color: var(--bodyColor);
                    transition: var(--transition);
                }

                &:focus {
                    border-color: var(--primaryColor);
                    background-color: transparent;

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        .form-check {
            color: var(--bodyColor);
            margin-bottom: 22px;

            .form-check-input {
                cursor: pointer;
                box-shadow: unset;
                margin-top: 0.16em;
                border-radius: 2px;
                border-color: #343434;

                &:checked {
                    border-color: var(--primaryColor);
                    background-color: var(--primaryColor);
                }
            }

            .form-check-label {
                color: var(--bodyColor);
                cursor: pointer;
            }
        }

        .default-btn {
            display: block;
            width: 100%;
        }

        .forgot-password {
            text-decoration: underline;
            display: inline-block;
            margin-top: 20px;
        }
    }
}

.login-image {
    padding-left: 50px;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {
    .login-form {
        h2 {
            font-size: 22px;
            margin-bottom: 18px;

            &::before {
                display: none;
            }
        }

        form {
            .form-group {
                margin-bottom: 15px;

                label {
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .form-control {
                    height: 45px;
                    font-size: 14px;
                    padding-left: 13px;
                }
            }

            .form-check {
                margin-bottom: 15px;
            }

            .forgot-password {
                margin-top: 15px;
            }
        }
    }

    .login-image {
        padding-left: 0;
        margin-top: 25px;
    }
}
 
/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .login-form {
        h2 {
            font-size: 25px;
            margin-bottom: 30px;
        }

        form {
            .form-group {
                margin-bottom: 20px;

                label {
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .form-control {
                    font-size: 15px;
                }
            }

            .form-check {
                margin-bottom: 20px;
            }

            .forgot-password {
                margin-top: 20px;
            }
        }
    }

    .login-image {
        padding-left: 0;
        margin-top: 25px;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .login-form {
        h2 {
            font-size: 30px;
            margin-bottom: 30px;
        }

        form {
            .form-group {
                margin-bottom: 20px;
            }

            .form-check {
                margin-bottom: 20px;
            }

            .forgot-password {
                margin-top: 15px;
            }
        }
    }

    .login-image {
        padding-left: 0;
    }
}
