<div class="course-pricing-wrapper card border-0 card h-100">
  <h3 class="py-4 px-5 mb-0">Fiyatlandırma</h3>
  <hr>

  <div class="card-body d-flex flex-column gap-4 p-5">
    <div class="d-flex flex-column gap-1">
      <div class="fw-medium">Eğitiminiz için bir fiyat belirleyin</div>
      <p>Lütfen eğitiminiz için fiyat kademesi seçin.</p>
    </div>

    <div>
      <label class="fw-medium mb-2">Fiyat Kademesi</label>

      <select [(ngModel)]="selectedPricingTier">
        <option [ngValue]="null">Seç</option>
        <option [ngValue]="1"> Ücretsiz</option>
        <option [ngValue]="2"> ₺249,99 (kademe 1) </option>
        <option [ngValue]="3"> ₺269,99 (kademe 1) </option>
      </select>

      <button type="submit" class="btn btn-primary mt-5" [disabled]="!selectedPricingTier" (click)="savePricingTier()">
        Kaydet
      </button>
    </div>
  </div>
</div>