<div class="dashboard-container">
    
    <app-sidebar></app-sidebar>

    <div class="page-content-wrapper" [class.expanded]="sidebarCollapsed">
        <div class="content-body">
            
            <router-outlet></router-outlet>

            <div *ngIf="router.url === '/dashboard'" class="p-4">
                <h3>Kurs Listesi (Test)</h3>
                <ul>
                    <li *ngFor="let course of courseList">{{ course.title }}</li>
                </ul>
            </div>

        </div>
    </div>

</div>