:host {
    display: block;
    cursor: default;
    width: 100%;


    .uploader-header {
        top: -34px;
        right: 50px;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid white;
        background: white;

        i {
            cursor: pointer;
        }
    }

    .exam-item {
        border-bottom: 1px solid var(--borderColor);
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}