$menu-bg: #f8f9fa;
$menu-hover-bg: #e2e6ea;
$menu-active-bg: #0056b3;
$menu-active-color: #ffffff;
$menu-border: #ddd;
$menu-font-color: #333;
$menu-padding: 16px;
$menu-item-padding: 12px;

:host {
  display: grid;
}

.course-manage-wrapper {
  max-width: 1340px;
  justify-self: center;
  width: 100%;
}



.side-nav {
  padding: $menu-padding;
  //   width: 240px;
  //   height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .toggle-menu-btn {
    margin-bottom: $menu-padding;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $menu-font-color;
      width: 24px;
      height: 24px;
    }
  }

  .menu-sections {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-section {
      margin-bottom: $menu-padding;

      .section-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: $menu-item-padding;
        color: $menu-font-color;
      }

      .menu-items {
        list-style: none;
        margin: 0;
        padding: 0;

        .menu-item {
          margin-bottom: 8px;

          &.active {
            border-left: 5px solid;
            margin-left: -5px;
          }

          .menu-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $menu-font-color;
            //padding: $menu-item-padding;
            border-radius: 4px;
            transition: background-color 0.3s;

            &:hover {
              background-color: $menu-hover-bg;
            }

            .completion {
              display: flex;
              align-items: center;
              margin-right: 4px;

              svg {
                fill: currentColor;
                width: 16px;
                height: 16px;
              }
            }

            span:last-child {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  // Scrollbar styling
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($menu-border, 10%);
    border-radius: 4px;

    &:hover {
      background-color: darken($menu-border, 10%);
    }
  }
}