.verify-form-wrapper {
     width: 25.4em;


    .form-control {
        height: 52px;
        box-shadow: unset;
        padding-left: 17px;
        border-radius: 5px;
        color: var(--blackColor);
        font-size: var(--fontSize);
        border: 1px solid #f7f7f7;
        background-color: #f7f7f7;
        transition: var(--transition);

        &::placeholder {
            color: var(--bodyColor);
            transition: var(--transition);
        }

        &:focus {
            border-color: var(--primaryColor);
            background-color: transparent;

            &::placeholder {
                color: transparent;
            }
        }
    }


    @media (min-width: 992px) {
        .verify-form {
            width: 100%;
            max-width: 450px;

            .mat-form-field {
                width: 100%;
            }
        }
    }




}

.verify-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}