// Video veya PDF alanının arka planı
.preview-container {
    background-color: #000;
    min-height: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px 0 0 6px; // Sol tarafı yuvarla

    video {
        max-height: 500px;
        width: 100%;
        outline: none;
    }
}

// Sağ taraftaki form alanı
.details-container {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

// Responsive Ayarlar
@media (max-width: 768px) {
    .preview-container {
        border-radius: 6px 6px 0 0;
        min-height: 250px;
    }
    .details-container {
        padding: 1rem;
    }
}