.selector-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1050; /* Navbarın üstünde olsun */
    display: flex;
    justify-content: center;
    align-items: center;

    .selector-modal {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 900px;
        max-height: 90vh;
        overflow-y: auto;
    }
}

.profile-img-wrapper {
    width: 180px;
    height: 180px;
}

.form-control-lg {
    font-size: 1.1rem;
}