.my-profile-box {
    padding: 25px;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    img {
        margin-bottom: 30px;
        max-width: 350px;
    }

    ul {
        li {
            line-height: 1.8;
            margin-bottom: 10px;
            color: var(--bodyColor);

            span {
                font-weight: 500;
                color: var(--blackColor);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .my-profile-box {
        padding: 15px;

        img {
            margin-bottom: 15px;
            max-width: 100%;
        }

        ul {
            li {
                margin-bottom: 8px;
            }
        }
    }

}

.dashboard-stats {
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 25px 25px 0;
    background-color: var(--whiteColor);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .stats-box {
        padding: 25px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 25px;
        border: 1px solid var(--borderColor);

        .icon {
            width: 80px;
            height: 80px;
            font-size: 42px;
            margin-bottom: 20px;
            color: var(--secondaryColor);
            transition: var(--transition);
            background: rgba(59, 188, 167, 0.1);

            i {
                left: 0;
                top: 50%;
                right: 0;
                line-height: 1;
                position: absolute;
                transform: translateY(-50%);
            }
        }

        h3 {
            margin-bottom: 9px;
            font-size: 35px;
            line-height: 1;
        }

        span {
            color: var(--bodyColor);

            font: {
                weight: 500;
                size: 17px;
            }

            ;
        }

        &:hover {
            .icon {
                background-color: var(--secondaryColor);
                color: var(--whiteColor);
            }
        }
    }
}

@media only screen and (max-width : 767px) {
    .dashboard-stats {
        padding: 15px 15px 0;

        .stats-box {
            padding: 20px 15px;
            margin-bottom: 15px;

            .icon {
                width: 60px;
                height: 60px;
                font-size: 28px;
                margin-bottom: 18px;
            }

            h3 {
                margin-bottom: 8px;
                font-size: 25px;
            }

            span {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    .dashboard-stats {
        .stats-box {
            padding: 25px;

            .icon {
                width: 70px;
                height: 70px;
                font-size: 32px;
            }

            h3 {
                font-size: 28px;
            }

            span {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .dashboard-stats {
        .stats-box {
            padding: 25px 15px;

            h3 {
                font-size: 30px;
            }

            span {
                font-size: 16px;
            }
        }
    }

}