<div class="dashboard-area">
    <div class="dashboard-stats">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="stats-box">
                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                        <i class="bx bx-book-bookmark"></i>
                    </div>
                    <h3>70</h3>
                    <span class="d-block">Toplam Eğitim</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="stats-box">
                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                        <i class='bx bx-book'></i>
                    </div>
                    <h3>05</h3>
                    <span class="d-block">Devam Eden Eğitim</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="stats-box">
                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                        <i class='bx bx-cube'></i>
                    </div>
                    <h3>10</h3>
                    <span class="d-block">Tamamlanan Eğitim</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="my-profile-box">
    <!-- <img src="assets/images/instructors/instructor1.jpg" alt="profile-image"> -->
    <ul class="ps-0 mb-0 list-unstyled">
        <li>
            <span>Ad:</span>
            {{userInfo.name}}
        </li>
        <li>
            <span>Soyadı:</span>
            {{userInfo.surName}}
        </li>
        <li>
            <span>Mail Adresi:</span>
            {{userInfo.email}}
        </li>
        <li>
            <span>Telefon No:</span>
            {{userInfo.phoneNumber}}
        </li>
    </ul>
</div>