:host {
    .mobile-topbar {
        width: 100%;
        height: 50px;
        background-color: #1c1d1f;
        display: flex;
        align-items: center;
        padding: 0 10px;
        position: fixed;
        top: 0;
        z-index: 2;

    }

    .main-wrapper {
        margin-top: 50px;
        min-height: 20rem;

        .video-player-wrapper {
            max-height: 620px;
        }

        .course-curriculum-wrapper {
            border-left: 1px solid var(--borderColor);
            position: fixed;
            right: 0;
            height: -webkit-fill-available;
            overflow-y: auto;
        }

        .section-wrapper {
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid #d1d7dc;
            }

            .section-header {
                background: #ebebeb
            }
        }

        .collapsed .contents {
            display: none;
        }

        .contents .content:hover {
            background-color: #f5f5f5;
        }


    }

    .comments-area {
        border-top: 1px solid var(--borderColor);

        .comments-title {
            font-size: 22px;
            margin-bottom: 25px;
            line-height: initial;
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .comment-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .children {
            margin-left: 20px;
        }

        .comment-body {
            border-bottom: 1px dashed var(--borderColor);
            color: var(--blackColor);
            padding-bottom: 20px;
            margin-bottom: 20px;
            padding-left: 98px;
            position: relative;

            .reply {
                margin-top: 12px;

                a {
                    border: 1px dashed var(--borderColor);
                    color: var(--blackColor);
                    display: inline-block;
                    border-radius: 30px;
                    padding: 3px 15px;

                    font: {
                        size: 14px;
                        weight: 500;
                    }

                    ;

                    &:hover {
                        color: var(--whiteColor);
                        border-color: var(--primaryColor);
                        background-color: var(--primaryColor);
                    }
                }
            }
        }

        .comment-author {
            z-index: 2;
            font-size: 17px;
            margin-bottom: 8px;
            position: relative;

            .avatar {
                top: 4px;
                width: 80px;
                left: -98px;
                position: absolute;
            }

            .says {
                display: none;
            }

            .fn {
                font-weight: 600;
            }
        }

        .comment-metadata {
            font-size: 15px;
            margin-bottom: .6em;
            color: var(--bodyColor);
        }

    }

    .overview-details-content {
        border-top: 1px solid var(--borderColor);
        margin-bottom: 30px;

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 15px;

            &:not(:first-child) {
                margin-top: 25px;
            }
        }

        strong {
            color: var(--blackColor);
        }

        p {
            margin-bottom: 12px;

            a {
                color: var(--primaryColor);

                &:hover {
                    text-decoration: underline;
                }
            }

            strong {
                font-weight: 600;
                color: var(--blackColor);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .features-list {
            margin: {
                top: 20px;
                left: -10px;
                right: -10px;
                bottom: -13px;
            }

            ;

            li {
                flex: 0 0 auto;
                width: 50%;

                padding: {
                    left: 10px;
                    right: 10px;
                }

                ;

                span {
                    color: var(--bodyColor);
                    margin-bottom: 13px;
                    position: relative;
                    padding-left: 22px;
                    display: block;

                    i {
                        left: 0;
                        top: 50%;
                        line-height: 1;
                        font-size: 14px;
                        position: absolute;
                        transform: translateY(-50%);
                        color: var(--secondaryColor);
                    }
                }
            }
        }
    }

    .course-details-content {
        margin-bottom: 30px;

        h4 {
            margin-bottom: 22px;
        }

        .accordion {
            .accordion-section {
                border: 1px solid var(--borderColor);
                margin-bottom: 20px;
                border-radius: 5px;

                .accordion-header {
                    display: flex;
                    cursor: pointer;
                    position: relative;
                    align-items: center;
                    padding: 15px 25px 15px 48px;
                    transition: var(--transition);
                    justify-content: space-between;

                    font: {
                        size: 17px;
                        weight: 500;
                    }

                    ;

                    span {
                        color: var(--bodyColor);

                        font: {
                            size: var(--fontSize);
                            weight: normal;
                        }

                        ;
                    }

                    &.open {
                        background-color: #f7f7f7;

                        &::before {
                            transform: translateY(-50%) rotate(180deg);
                        }
                    }

                    &::before {
                        top: 50%;
                        left: 20px;
                        content: "\ea4a";
                        position: absolute;
                        transform: translateY(-50%);

                        font: {
                            family: boxicons;
                            size: 25px;
                        }

                        ;
                    }
                }

                .accordion-content {
                    opacity: 0;
                    padding: 25px;
                    display: none;
                    visibility: hidden;

                    ul {
                        li {
                            padding-left: 20px;
                            position: relative;
                            margin-bottom: 15px;
                            color: var(--bodyColor);

                            &::before {
                                top: 50%;
                                left: -4px;
                                content: "\ebbd";
                                position: absolute;
                                transform: translateY(-50%);
                                color: var(--secondaryColor);

                                font: {
                                    family: boxicons;
                                    size: 22px;
                                }

                                ;
                            }

                            span {
                                i {
                                    line-height: 1;
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    &.open {
                        opacity: 1;
                        display: block;
                        visibility: visible;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    ::ng-deep {
        $plyr-color: var(--primaryColor);

        .plyr audio,
        .plyr iframe,
        .plyr video {
            max-height: 620px;
        }

        .plyr--full-ui input[type=range] {
            color: $plyr-color;

        }

        .plyr__control--overlaid {
            background: rgba($plyr-color, .8);
        }

        .plyr--video .plyr__control.plyr__tab-focus,
        .plyr--video .plyr__control:hover,
        .plyr--video .plyr__control[aria-expanded=true] {
            background: $plyr-color;
        }

        .plyr__control.plyr__tab-focus {
            box-shadow: 0 0 0 5px rgba($plyr-color, .5);
        }

        .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
            background: $plyr-color;
        }

        .mat-mdc-tab {
            font-family: inherit !important;
            font-size: inherit !important;
            letter-spacing: inherit !important;

        }

        .mat-mdc-tab-labels div:hover {
            color: black;
        }

        .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
            color: black;
        }
    }

    @media (max-width: 991px) {
        .course-curriculum-wrapper {
            display: none;
        }
    }
}