<div class="mobile-topbar">
    <div class="d-flex align-items-end" style="cursor: pointer; color: white;"
        (click)="router.navigate(['/course/'+currentCourse.id+'/details'])">
        <div class="fw-bold ms-3">{{ currentCourse?.title}}</div>
    </div>
</div>
<div class="d-flex main-wrapper">
    <div class="col-lg-9">
        <div class="video-player-wrapper">
            <plyr [plyrOptions]="plyrOptions" [plyrSources]="videoSources" (plyrInit)="onPlyrInit($event)"></plyr>
        </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" disableRipple>
            <mat-tab label="Genel Bakış">

                <div class="overview-details-content p-4">
                    <h4>Açıklama</h4>
                    <p>{{currentCourse?.description || 'Açıklama bulunamadı.'}}</p>
                    <h4>Öğrenecekleriniz</h4>
                    <ul class="features-list ps-0 list-unstyled d-flex flex-wrap">
                        <li *ngFor="let item of currentCourse?.whatYouWillLearns">
                            <span>
                                <i class="flaticon-tick"></i>
                                {{ item.whatYouWillLearnTitle}}
                            </span>
                        </li>
                    </ul>
                </div>


            </mat-tab>
            <!-- <mat-tab label="Yorumlar">
                <div class="comments-area p-4">
                    <h3 class="comments-title">5 Comments:</h3>
                    <ol class="comment-list">
                        <li class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="assets/images/users/user1.jpg" class="avatar rounded-circle"
                                            alt="user">
                                        <b class="fn">John Jones</b>
                                    </div>
                                    <div class="comment-metadata">
                                        <span>August 01, 2024 at 10:59 am</span>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type
                                        specimen.</p>
                                </div>
                                <div class="reply">
                                    <a routerLink="/" class="comment-reply-link">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="assets/images/users/user2.jpg" class="avatar rounded-circle"
                                                    alt="user">
                                                <b class="fn">Steven Smith</b>
                                            </div>
                                            <div class="comment-metadata">
                                                <span>August 02, 2024 at 21:59 am</span>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it to
                                                make a type specimen.</p>
                                        </div>
                                        <div class="reply">
                                            <a routerLink="/" class="comment-reply-link">Reply</a>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img src="assets/images/users/user3.jpg"
                                                            class="avatar rounded-circle" alt="user">
                                                        <b class="fn">Sarah Taylor</b>
                                                    </div>
                                                    <div class="comment-metadata">
                                                        <span>August 03, 2024 at 05:59 am</span>
                                                    </div>
                                                </footer>
                                                <div class="comment-content">
                                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever
                                                        since the 1500s, when an unknown printer took a galley of type
                                                        and scrambled it to make a type specimen.</p>
                                                </div>
                                                <div class="reply">
                                                    <a routerLink="/" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li class="comment">
                            <div class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="assets/images/users/user4.jpg" class="avatar rounded-circle"
                                            alt="user">
                                        <b class="fn">John Doe</b>
                                    </div>
                                    <div class="comment-metadata">
                                        <span>August 04, 2024 at 05:59 am</span>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type
                                        specimen.</p>
                                </div>
                                <div class="reply">
                                    <a routerLink="/" class="comment-reply-link">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="comment">
                                    <div class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="assets/images/users/user5.jpg" class="avatar rounded-circle"
                                                    alt="user">
                                                <b class="fn">James Anderson</b>
                                            </div>
                                            <div class="comment-metadata">
                                                <span>August 05, 2024 at 04:59 am</span>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it to
                                                make a type specimen.</p>
                                        </div>
                                        <div class="reply">
                                            <a routerLink="/" class="comment-reply-link">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
 
                </div>
            </mat-tab> -->

        </mat-tab-group>

    </div>
    <div class="col-lg-3 course-curriculum-wrapper">
        <div *ngFor="let section of currentCourse?.trainingSections; let i = index" (click)="toggleSection(i, $event)"
            class="cursor-pointer section-wrapper" [ngClass]="collapsedSections[i] ? 'collapsed' : 'expanded'">

            <div class="d-flex justify-content-between p-3 section-header">
                <div>
                    <span class="fw-bold">
                        Bölüm {{i+1}}: {{ section.trainingSectionTitle }}
                    </span>
                    <div class="small">
                        0/{{section.trainingContents.length}}
                    </div>
                </div>

                <i class="bx bx-sm" [ngClass]="collapsedSections[i] ? 'bx-chevron-down' : 'bx-chevron-up'"></i>
            </div>


            <div class="contents">
                <div *ngFor="let content of section.trainingContents" class="content py-2 px-4">
                    <span>{{ content.contentType.code === 'lec' ? 'Ders' : 'Sınav' }} {{content.globalIndex}}: {{
                        content.title }}</span>
                </div>
            </div>
        </div>
    </div>

</div>