<form [formGroup]="examForm" class="searchUserForm" (ngSubmit)="submit()" (keydown.enter)="$event.preventDefault()">
    <div class="modal-header justify-content-between">
        <h4 class="modal-title">{{isEdit ? 'Sınavı Düzenle' : 'Yeni Sınav'}}</h4>
        <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss()">
        </button>
    </div>

    <div class="modal-body scrollable-body" style="max-height: 700px;overflow-y: auto;">
        <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-medium fs-6">Başlık</label>
            <div class="col-lg-5 fv-row">
                <div class="search-box">
                    <input formControlName="title" class="form-control shadow-none" type="text">
                </div>

                <ng-container *ngIf="(controls['title'].dirty || controls['title'].touched)">
                    <div *ngIf="controls['title'].errors?.['required']" class="error-message p-1">
                        Doldurulması zorunlu alan
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-medium fs-6">Açıklama</label>
            <div class="col-lg-5 fv-row">
                <div class="search-box">
                    <input formControlName="description" class="form-control shadow-none" type="text">
                </div>

                <ng-container *ngIf="(controls['description'].dirty || controls['description'].touched)">
                    <div *ngIf="controls['description'].errors?.['required']" class="error-message p-1">
                        Doldurulması zorunlu alan
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-medium fs-6">Başarı Oranı</label>
            <div class="col-lg-5 fv-row">
                <div class="search-box">
                    <input formControlName="succesRate" class="form-control shadow-none" type="text">
                </div>

                <ng-container *ngIf="(controls['succesRate'].dirty || controls['succesRate'].touched)">
                    <div *ngIf="controls['succesRate'].errors?.['required']" class="error-message p-1">
                        Doldurulması zorunlu alan
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-medium fs-6">Toplam Soru Sayısı</label>
            <div class="col-lg-5 fv-row">
                <div class="search-box">
                    <input formControlName="totalQuestionCount" class="form-control shadow-none" type="number">
                </div>

                <ng-container *ngIf="(controls['totalQuestionCount'].dirty || controls['totalQuestionCount'].touched)">
                    <div *ngIf="controls['totalQuestionCount'].errors?.['required']" class="error-message p-1">
                        Doldurulması zorunlu alan
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-medium fs-6">Geçme Notu</label>
            <div class="col-lg-5 fv-row">
                <div class="search-box">
                    <input formControlName="passingScore" class="form-control shadow-none" type="number">
                </div>

                <ng-container *ngIf="(controls['passingScore'].dirty || controls['passingScore'].touched)">
                    <div *ngIf="controls['passingScore'].errors?.['required']" class="error-message p-1">
                        Doldurulması zorunlu alan
                    </div>
                </ng-container>
            </div>
        </div>

        <div *ngIf="newTopicFormVisible" class="new-topic-form"></div>
        <div formArrayName="topics" class="mb-4">
            <div *ngFor="let topic of topics.controls; let i = index" [formGroupName]="i" class="topic-item mb-3">
                <div class="row">
                    <label class="col-lg-4 col-form-label required fw-medium fs-6">Konu {{ i + 1 }}</label>
                    <div class="col-lg-5 fv-row">
                        <div class="search-box">
                            <input formControlName="title" class="form-control shadow-none" type="text"
                                placeholder="Konu Başlığı">
                        </div>
                        <ng-container *ngIf="(topic.get('title')?.dirty || topic.get('title')?.touched)">
                            <div *ngIf="topic.get('title')?.errors?.['required']" class="error-message p-1">
                                Doldurulması zorunlu alan
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div formArrayName="questions" class="mb-3 ps-4 pt-3">
                    <div *ngFor="let question of getQuestions(topic).controls; let j = index" [formGroupName]="j"
                        class="question-item mb-2">
                        <div class="row">
                            <label class="col-lg-4 col-form-label required fw-medium fs-6">Soru {{ j + 1 }}</label>
                            <div class="col-lg-5 fv-row">
                                <div class="search-box">
                                    <input formControlName="text" class="form-control shadow-none" type="text"
                                        placeholder="Enter question text">
                                </div>
                                <ng-container *ngIf="(question.get('text')?.dirty || question.get('text')?.touched)">
                                    <div *ngIf="question.get('text')?.errors?.['required']" class="error-message p-1">
                                        Doldurulması zorunlu alan
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-secondary" (click)="addQuestion(i)">Soru Ekle</button>
                </div>
            </div>

        </div>
    </div>



    <div class="modal-footer">
        <button class="btn" (click)="toggleNewTopicForm()">Konu Ekle</button>
        <button type="submit" class="btn btn-primary">
            Kaydet
        </button>
    </div>
</form>