<!-- Page Banner -->
<!-- <div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Forgot Password</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Home</a></li>
                <li class="d-inline-block position-relative">Forgot Password</li>
            </ul>
        </div>
    </div>
</div> -->

<!-- Forgot Password -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>Şifrenizi mi unuttunuz? Lütfen mail adresinizi ve doğrulama yöntemini seçin. Şifrenizi yenilemek için bir kod göndereceğiz.</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <label>Mail Adresi</label>
                    <input type="text" class="form-control" formControlName="userName">
                </div>
               
                <div class="form-group">
                    <label>Doğrulama Yöntemi</label>
                    <div class="select-box">
                        <select formControlName="type">
                            <option [ngValue]="0">Mail</option>
                            <option [ngValue]="1">SMS</option>
                        </select>
                    </div>

                </div>
                <button type="submit" class="default-btn">Gönder</button>

                
            </form>
        </div>
    </div>
</div>