<div
    class="hero-area position-relative z-1"
    style="background-image: url(assets/images/banner/banner-bg2.jpg);"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="hero-image">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner5.jpg" alt="banner-image">
                            </div>
                            <div class="image">
                                <img src="assets/images/banner/banner6.jpg" alt="banner-image">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="image">
                                <img src="assets/images/banner/banner7.jpg" alt="banner-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hero-content">
                    <span class="sub-title">Learn The Latest Skills</span>
                    <h1>Higher Best Education Around The World For Your Success</h1>
                    <div class="btn-box">
                        <a routerLink="/auth/login" class="default-btn">Join For Free</a>
                        <a routerLink="/courses-grid" class="default-btn">Find Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/banner/banner-shape.webp" class="shape" alt="banner-shape">
</div>