.curriculum-wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.16);

}

.section {
    border: 1px solid;
    background: #ededed;

    .section-header {
        cursor: move;

        &:hover {
            .actions {
                visibility: visible;

            }
        }
    }
 
}