<!-- Footer -->
<!-- <div *ngIf=!showAuthFooter class="footer-area position-relative pt-100 pb-75" [ngClass]="{'col-lg-9': isOnCoursePage}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                    <p>There are many variations of passages of Lorem available, but the majority have suffered
                        alteration in form injected humour or randomised.</p>
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank"
                                class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank"
                                class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank"
                                class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank"
                                class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Important Pages</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/about" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/instructors" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Instructors
                            </a>
                        </li>
                        <li>
                            <a routerLink="/become-a-instructor" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Become A Instructor
                            </a>
                        </li>
                        <li>
                            <a routerLink="/success-stories" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Success Stories
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Other Pages</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/terms-conditions" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Terms & Conditions
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Purchase Guide
                            </a>
                        </li>
                        <li>
                            <a routerLink="/faq" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Help & Support
                            </a>
                        </li>
                        <li>
                            <a routerLink="/" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Get The App
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Get In Touch</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <a href="tel:8002162020">
                                + (800) 216 2020
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:hello&#64;toledo.com">hello&#64;toledo.com</a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-map'></i>
                            </div>
                            No. 12, Ribon Building, Walse Street, Australia
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shapes/footer.gif" class="footer-shape1" alt="footer-shape1">
    <img src="assets/images/shapes/footer-shape.png" class="footer-shape2" alt="footer-shape2">
</div> -->

<!-- Copyright -->
<div   class="copyright-area text-center position-relative">
    <div class="container">
        <p>© T1Akademi {{ currentYear }}</p>
    </div>
</div>