<div class="sidebar-wrapper" [class.collapsed]="isCollapsed">
    
    <div class="sidebar-header">
        <div class="toggle-btn-container" (click)="toggleSidebar()">
            <i class='bx' [ngClass]="isCollapsed ? 'bx-menu' : 'bx-chevron-left'"></i>
        </div>
    </div>

    <div class="sidebar-body">
        <ul class="sidebar-nav">
            <li class="menu-label" *ngIf="!isCollapsed">Genel</li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/dashboard">
                    <i class='bx bx-home-circle'></i>
                    <span class="link-text" *ngIf="!isCollapsed">Genel Bakış</span>
                </a>
            </li>

            <ng-container *ngIf="userMenuItems && userMenuItems.length > 0">
                <li class="sidebar-divider"></li>
                <li *ngFor="let item of userMenuItems">
                    <a *ngIf="!item.children || item.children.length === 0" 
                       [routerLink]="item.path" routerLinkActive="active">
                        <i [class]="item.icon"></i>
                        <span class="link-text" *ngIf="!isCollapsed">{{ item.title }}</span>
                    </a>
                    <div *ngIf="item.children && item.children.length > 0">
                        <a href="javascript:void(0)" (click)="toggleItem(item)" [class.active]="item.expanded">
                            <i [class]="item.icon"></i>
                            <span class="link-text" *ngIf="!isCollapsed">{{ item.title }}</span>
                            <i class='bx arrow-icon' [ngClass]="item.expanded ? 'bx-chevron-down' : 'bx-chevron-right'" *ngIf="!isCollapsed"></i>
                        </a>
                        <ul class="sub-menu" [class.show]="item.expanded && !isCollapsed">
                            <li *ngFor="let child of item.children">
                                <a [routerLink]="child.path" routerLinkActive="active" class="sub-link">{{ child.title }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ng-container>

            <li class="sidebar-divider"></li>
            <li class="menu-label" *ngIf="!isCollapsed">Kategoriler</li>
            <li *ngFor="let cat of categories">
                <a (click)="toggleItem(cat)" href="javascript:void(0)" class="category-root-link" [class.active]="cat.expanded">
                    <span class="link-text" *ngIf="!isCollapsed">{{ cat.title }}</span>
                    <i *ngIf="cat.subCategories && cat.subCategories.length > 0 && !isCollapsed" 
                       class='bx arrow-icon' 
                       [ngClass]="cat.expanded ? 'bx-chevron-down' : 'bx-chevron-right'"></i>
                </a>
                <ul class="sub-menu" [class.show]="cat.expanded && !isCollapsed" *ngIf="cat.subCategories && cat.subCategories.length > 0">
                    <li *ngFor="let sub of cat.subCategories">
                        <a [routerLink]="['/dashboard/active-courses']" [queryParams]="{categoryIds: sub.id}" class="sub-link">{{ sub.title }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="sidebar-footer">
        <div class="footer-capsule">
            
            <a routerLink="/dashboard/my-profile" class="capsule-btn" title="Profilim" routerLinkActive="active">
                <i class='bx bx-user'></i>
            </a>
            
            <div class="capsule-divider"></div>

            <a routerLink="/dashboard/edit-profile" class="capsule-btn" title="Ayarlar" routerLinkActive="active">
                <i class='bx bx-cog'></i>
            </a>

            <div class="capsule-divider"></div>

            <a href="javascript:void(0)" (click)="logout()" class="capsule-btn logout-btn" title="Çıkış Yap">
                <i class='bx bx-log-out'></i>
            </a>

        </div>
    </div>
</div>