<div class="sidebar-overlay" 
     [class.show]="!isCollapsed && isMobile" 
     (click)="closeMobileMenu()">
</div>

<div class="sidebar-wrapper" [class.collapsed]="isCollapsed">
    
    <div class="sidebar-header">
        <div class="logo-area" *ngIf="!isCollapsed">
            <span class="fw-bold fs-5 text-white">HrHub</span>
        </div>
        <button class="btn btn-icon toggle-btn" (click)="toggleSidebar()">
            <i class='bx' [class.bx-menu-alt-left]="!isCollapsed" [class.bx-menu]="isCollapsed"></i>
        </button>
    </div>

    <div class="sidebar-content">
        
        <ul class="list-unstyled components">
            <li class="menu-header" *ngIf="!isCollapsed">Genel</li>
            <li *ngFor="let item of staticMenuItems">
                <a [routerLink]="item.path" routerLinkActive="active" 
                   [routerLinkActiveOptions]="{exact: true}" 
                   class="menu-link"
                   (click)="closeMobileMenu()">
                    <i [class]="item.icon" class="menu-icon"></i>
                    <span class="menu-text">{{ item.title }}</span>
                </a>
            </li>
        </ul>

        <hr class="sidebar-divider" *ngIf="dynamicMenuItems.length > 0">

        <ul class="list-unstyled components">
            <li class="menu-header" *ngIf="!isCollapsed && dynamicMenuItems.length > 0">Yönetim</li>

            <li *ngFor="let item of dynamicMenuItems">
                <a *ngIf="!item.children || item.children.length === 0" 
                   [routerLink]="item.path" routerLinkActive="active" 
                   class="menu-link"
                   (click)="closeMobileMenu()">
                    <i [class]="item.icon" class="menu-icon"></i>
                    <span class="menu-text">{{ item.title }}</span>
                </a>

                <div *ngIf="item.children && item.children.length > 0" class="dropdown-wrapper">
                    <a href="javascript:void(0)" class="menu-link has-dropdown" (click)="item['isOpen'] = !item['isOpen']">
                        <div class="d-flex align-items-center">
                            <i [class]="item.icon" class="menu-icon"></i>
                            <span class="menu-text">{{ item.title }}</span>
                        </div>
                        <i class='bx bx-chevron-down dropdown-arrow' [class.rotate]="item['isOpen']"></i>
                    </a>
                    
                    <ul class="sub-menu list-unstyled" [class.show]="item['isOpen']" *ngIf="!isCollapsed">
                        <li *ngFor="let sub of item.children">
                            <a [routerLink]="sub.path" routerLinkActive="active" class="sub-link" (click)="closeMobileMenu()">
                                <i class='bx bx-radio-circle me-2'></i>{{ sub.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ng-container *ngIf="isMobile">
            <hr class="sidebar-divider">
            <ul class="list-unstyled components">
                <li class="menu-header">Kategoriler</li>
                
                <li *ngFor="let cat of categories">
                    <a href="javascript:void(0)" class="menu-link has-dropdown" (click)="toggleMobileCategory(cat.id)">
                        <div class="d-flex align-items-center">
                            <i class='bx bx-folder menu-icon'></i> 
                            <span class="menu-text">{{ cat.title }}</span>
                        </div>
                        <i *ngIf="cat.subCategories && cat.subCategories.length > 0" 
                           class='bx bx-chevron-down dropdown-arrow' 
                           [class.rotate]="activeMobileCategory === cat.id">
                        </i>
                    </a>

                    <ul class="sub-menu list-unstyled" 
                        [class.show]="activeMobileCategory === cat.id" 
                        *ngIf="cat.subCategories && cat.subCategories.length > 0">
                        <li *ngFor="let sub of cat.subCategories">
                            <a routerLink="/courses-grid" [queryParams]="{subcategory: sub.id}" 
                               class="sub-link" (click)="closeMobileMenu()">
                                <i class='bx bx-right-arrow-alt me-2'></i>{{ sub.title }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ng-container>
        
        <div class="p-3 d-lg-none mt-4 border-top border-secondary">
             <a href="javascript:void(0)" class="btn btn-danger w-100 btn-sm">
                <i class='bx bx-log-out me-2'></i> Çıkış Yap
             </a>
        </div>
    </div>
</div>