.course-header {
    background-color: #1c1d1f;
}

.text-info {
    color: #cec0fc !important; /* Açık mor (Udemy Link Rengi) */
    &:hover { color: #fff !important; }
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.tiny-text {
    font-size: 0.75rem;
}

.course-sidebar-card {
    border-radius: 0;
    overflow: hidden;
    /* Kartın mobilde içeriğin üstünde kalmasını önlemek için */
}

/* Play Butonu Animasyonu */
.pulse-animation {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
    70% { transform: scale(1.1); box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
    100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
}

@media (max-width: 991px) {
    .course-sidebar-card {
        position: static !important; /* Mobilde yapışkanlığı kapat */
        margin-bottom: 30px;
    }
    
    .course-header {
        text-align: center;
    }
}