.become-instructor-area {
    .become-instructor-image {
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .become-instructor-content {
        h2 {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 700;
        }
        p {
            margin-bottom: 30px;
            font-size: 15px;
        }
        .form-group {
            margin-bottom: 20px;
            label {
                margin-bottom: 10px;
                color: var(--blackColor);
                display: block;
                font-weight: 600;
            }
            .form-control {
                height: 50px;
                color: var(--blackColor);
                border: 1px solid #eeeeee;
                background-color: #ffffff;
                border-radius: 5px;
                font-size: 15px;
                padding: 10px 20px;
                width: 100%;
                transition: var(--transition);

                &:focus {
                    border-color: var(--mainColor);
                    outline: 0;
                    box-shadow: none;
                }
            }
            textarea.form-control {
                height: auto;
                padding-top: 15px;
            }
        }
        .default-btn {
            margin-top: 10px;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}

/* Responsive */
@media only screen and (max-width: 767px) {
    .become-instructor-content {
        h2 {
            font-size: 24px;
        }
    }
}